<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <video id="bcgVid" autoplay loop class="fillWidth">
        <source src="../../../../project/resources/Sky-High/MP4/Sky-High.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="../../../../project/resources/Sky-High/WEBM/Sky-High.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <div>
        <h2>Ola {{currentUser.username}}, people whom you can connect with!  </h2>
        &nbsp;
        <ul class="thumbnails list-inline">
            <li ng-repeat="user in model.allUsers">
                <div class="thumbnail" ng-hide= "model.isCurrentUser(user.username) || model.isFriend(user)">
                    <a href = "#/api/profile/{{user.username}}/profile"><img src="//placehold.it/120x120">
                        <h4><p align="center">{{user.username}}</p></h4></a>
                    <a ng-click = "model.addFriend(user)"  width = "100%" class="btn btn-primary btn-block" role="button">Add Friend</a>
                </div>
            </li>
        </ul>
        <div ng-if = "model.allUsers.length < 1" class="text-center more-button" >
            <h3> No users yet</h3>
        </div>
        <div ng-if = "(model.allUsers.length - 1) == (model.friends.length)" class="text-center more-button" >
            <h3> No new users to make friends yet </h3>
        </div>

        &nbsp;
    </div>
    <div >
        <h2>My friends</h2>
        &nbsp;
        <ul class="thumbnails list-inline">
            <li ng-repeat="friend in model.friends">
                <div class="thumbnail ">
                    <img src="//placehold.it/120x120">
                    <a href = "#/api/profile/{{friend.followerName}}/profile">
                        <h4>
                            <p align="center">{{friend.followerName}} </p>
                        </h4>
                    </a>
                    <a ng-click = "model.removeFriend(friend.followerName)"  width = "100%" class="btn btn-primary btn-block" role="button">Remove friend</a>
                </div>
            </li>
        </ul>

        <div ng-if = "model.friends.length < 1" class="text-center more-button" >
            <h3> You have no friends yet</h3>
        </div>
        &nbsp;
    </div>
    <div>
        <h2>Followers </h2>
        &nbsp;
        <ul class="thumbnails list-inline">
            <li ng-repeat="follower in model.followers">
                <div class="thumbnail">
                    <a href = "#/api/profile/{{follower.userName}}/profile"><img src="//placehold.it/120x120">
                    <h4><p align="center">{{follower.userName}}</p></h4></a>
                </div>
            </li>
        </ul>

        <div ng-if = "model.followers.length < 1" class="text-center more-button" >
            <h3> No Follower's yet</h3>
        </div>
    </div>
    &nbsp;
</div>