
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="LoginController">
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <h1 class="page-header">Login</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-xs-6 col-sm-3 control-label">Username :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" placeholder="UserName" ng-model="user.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label col-xs-6">Password :</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9 ">
                        <a class="btn btn-color" ng-click="login(user)">Login</a>
                    </div>
                </div>
            </form>
        </div>