<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="row" ng-repeat="result in model.playlists">
                    <div class="col-md-6 col-xl-6 col-lg-6 col-xs-6">
                        <h2>{{result.playlistName}}</h2>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6 col-xs-6 center-block" style="float : left;">
                        <div class="row" ng-repeat="song in result.songs" >
                           <h4>{{song}}</h4>
                        </div>
                    </div>
            </div>
        </div>
        <hr>
    </div>
</div>