<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <video id="bcgVid" autoplay loop class="fillWidth">
        <source src="../../../../project/resources/Wave-Sitting/MP4/Wave-Sitting.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="../../../../project/resources/Wave-Sitting/WEBM/Wave-Sitting.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/profile">Profile</a></li>
        <li role="presentation" class="active"><a href="#/playlist">PlayLists</a></li>
    </ul>
    <h1 class="page-header"></h1>

    <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="row" ng-repeat="result in model.playlists">
                    <div class="col-md-6 col-xl-6 col-lg-6 col-xs-6">
                        <h2>{{result.playlistName}}
                            <a ng-click="model.deleteplaylist(result._id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </h2>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-6 ">
                        <div class="row" ng-repeat="song in result.songs" >
                            <div class="col-md-12">
                                <label>{{song.songname}}</label>
                                <a ng-click="model.deleteSong(result._id,song._id)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

