<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <video id="bcgVid" autoplay loop class="fillWidth">
        <source src="../../../../project/resources/Wave-Sitting/MP4/Wave-Sitting.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="../../../../project/resources/Wave-Sitting/WEBM/Wave-Sitting.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/profile">Profile</a></li>
        <li role="presentation" class="active"><a href="#/playlist">PlayLists</a></li>
    </ul>
    <h1 class="page-header"></h1>

    <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <div ng-show="model.playlists.length <= 0" class="alert alert-success" role="alert">You do not have any playlists yet! Click on (+) in header to create one.</div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="row" ng-repeat="result in model.playlists">
                    <div class="col-md-12 col-xl-12 col-lg-12 col-xs-12">
                        <!--Add card here -->
                        <div class="w3-card-4">
                            <header class="w3-container w3-blue">
                                <h2>{{result.playlistName}}
                                    <a ng-click="model.deleteplaylist(result._id)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </h2>
                            </header>
                            <div class="w3-container">
                                <div class="row" ng-repeat="song in result.songs" >
                                    <div class="col-md-12">
                                        <a href="#/searchDetail/{{song.songid}}">{{song.songname}}</a>
                                        <a ng-click="model.deleteSong(result._id,song._id)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-6 col-lg-6 col-xs-6 ">-->
                        <!--<div class="row" ng-repeat="song in result.songs" >-->
                            <!--<div class="col-md-12">-->
                                <!--<a href="#/searchDetail/{{song.songid}}">{{song.songname}}</a>-->
                                <!--<a ng-click="model.deleteSong(result._id,song._id)">-->
                                    <!--<span class="glyphicon glyphicon-remove"></span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

</div>

