<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <video id="bcgVid" autoplay loop class="fillWidth">
        <source src="../../../../project/resources/Wave-Sitting/MP4/Wave-Sitting.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="../../../../project/resources/Wave-Sitting/WEBM/Wave-Sitting.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <ul class="nav nav-tabs">
        <li role="presentation"  class="active"><a href="#/profile">Profile</a></li>
        <li role="presentation"><a href="#/playlist">PlayLists</a></li>
        <li role="presentation"><a href="#/review">Your Review's</a></li>
    </ul>
    <h1 class="page-header"></h1>

    <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

    <form class="form-horizontal" name="profileForm">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username:</label>
            <div class="col-sm-10">
                <input type="text" ng-model = "model.user.username" class="form-control" id="username" name = "username"
                       placeholder="Username" required autofocus>
                <span class="error errorMsg"
                      ng-show="profileForm.username.$dirty && profileForm.username.$error.required">
										* Username is required. </span>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" ng-model = "model.user.password" class="form-control" id="password"
                       name = "password" placeholder="Password" required>
                <span class="error errorMsg"
                      ng-show="profileForm.password.$dirty && profileForm.password.$error.required">
								* Password is required. </span>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First Name:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="model.user.firstName" class="form-control" id="firstName" placeholder="First Name">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="model.user.lastName" class="form-control" id="lastName" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
                <input type="email" ng-model="model.user.email" class="form-control" id="email"
                       name ="email" placeholder="Email"  required>
                 <span  ng-show="profileForm.email.$dirty && profileForm.email.$invalid">
                    <span class="error errorMsg"  ng-show="profileForm.email.$error.email"> Not valid email!</span>
                </span>
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a  ng-click = "model.update(model.user)" class="btn btn-primary btn-lg btn-block" role="button">Update</a>
            </div>
        </div>
    </form>
</div>

