<div class="col-sm-3 col-md-2 sidebar" ng-controller="SideBarController">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active': $location.path() == '/'}"><a href="#/">Home <span class="sr-only">(current)</span></a></li>
        <li ng-class="{'active': $location.path() == '/profile'}" ><a href="#/profile" >Profile</a></li>
        <li ng-class="{'active': $location.path() =='/admin'}" ><a href="#/admin" >Admin</a></li>
        <li ng-class="{'active': $location.path() == '/forms'}" ><a href="#/forms" >Forms</a></li>
    </ul>
</div>