
.glyphicon {
    font-size : 20px;
}

.glyphicon-plus {
    color : green;
}

.glyphicon-remove {
    color: red;
}

.glyphicon-pencil {
    color: brown;
}

.glyphicon-list-alt {
    color : deepskyblue;
}

.form-spacing {
    margin-top: 20px;
    width:50%;
}

#content {
    text-align: justify;
}

.disabledState {
    background-color: white;
    color: black;
    pointer-events: none;
}

.btn-color {
    color: white;
    background-color: black;
}