<div class="col-sm-9 col-sm-offset-3 col-md-offset-2 main" ng-controller="FieldController">
    <h1 class="page-header">Forms</h1>
    <ul class="nav nav-tabs">
        <li><a href="forms.view.html">Forms</a></li>
        <li class="active"><a href="#">Fields</a></li>
    </ul>
    <form class="horizontal-form">
        <div class="form-group">
            <label>Add New Field : </label>
            <div class="row">
                <div class="col-sm-7 col-xs-7">
                    <select ng-model="field.fieldType" class="form-control" id="inputAddNewField">
                        <option value="Single Line Text">Single Line Text</option>
                        <option value="Date">Date</option>
                        <option value="Dropdown">Dropdown</option>
                        <option value="Checkboxes">Checkboxes</option>
                        <option value="Radio buttons">Radio buttons</option>
                        <option value="Multi Line Text Field">Multi Line Text Field</option>
                    </select>
                </div>
                <div class="col-sm-5 col-xs-5">
                    <div>
                        <a ng-click="addField(field.fieldType)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-repeat="field in fields">
            <div class="row">
                <div ng-switch on="field.type">
                    <div class="col-sm-7 col-xs-5">
                        <div ng-switch-when="TEXT">
                            <label>{{field.label}}</label>
                            <input type="text" class="form-control" placeholder="{{field.placeholder}}">
                        </div>
                        <div ng-switch-when="EMAIL">
                            <label>{{field.label}}</label>
                            <input type="email" class="form-control" placeholder="{{field.placeholder}}">
                        </div>
                        <div ng-switch-when="DATE">
                            <label>{{field.label}}</label>
                            <input type="date" class="form-control" placeholder="{{field.placeholder}}">
                        </div>
                        <div ng-switch-when="TEXTAREA">
                            <label>{{field.label}}</label>
                            <input type="textarea" class="form-control" placeholder="{{field.placeholder}}">
                        </div>
                        <div ng-switch-when="OPTIONS">
                            <label>{{field.label}}</label>
                            <select class="form-control">
                                <option value="{{option.value}}" ng-repeat="option in field.options">{{option.label}}</option>
                            </select>
                        </div>
                        <div ng-switch-when="CHECKBOXES">
                            <label>{{field.label}}</label>
                            <div class="checkbox" ng-repeat="option in field.options">
                                <input type="checkbox" value="{{option.value}}">{{option.label}}
                            </div>
                        </div>
                        <div ng-switch-when="RADIOS">
                            <label>{{field.label}}</label>
                            <div class="radio" ng-repeat="option in field.options">
                                <input type="radio" value="{{option.value}}" name="{{field.label}}"> {{option.label}}
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="col-sm-5 col-xs-7">
                    <div class="btn-group" align right>
                        <a class="glyphicon glyphicon-pencil" ng-click="updateField($index)" data-toggle="modal" data-target="#myModal"></a>
                        <a class="glyphicon glyphicon-plus" ng-click=""></a>
                        <a class="glyphicon glyphicon-remove" ng-click="deleteField($index)"></a>
                        <a class="glyphicon glyphicon-reorder" ng-click=""></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

    <!--<form>-->
        <!--<label for="firstname-form-fields">First Name</label>-->
        <!--<div class="row">-->
            <!--<div class="form-group col-xs-6">-->
                <!--<input type="text" class="form-control" id="firstname-form-fields" placeholder="First Name">-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<label for="lastname-form-fields">Last Name</label>-->
        <!--<div class="row">-->
            <!--<div class="form-group col-xs-6">-->
                <!--<input type="text" class="form-control" id="lastname-form-fields" placeholder="Last Name">-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<label for="dateofbirth-form-fields">Date of Birth</label>-->
        <!--<div class="row">-->
            <!--<div class="form-group col-xs-6">-->
                <!--<input type="date" class="form-control" id="dateofbirth-form-fields" placeholder="Date of Birth">-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<label for="gender-form-fields">Gender</label>-->
        <!--<div class="row">-->
            <!--<div class="form-group col-xs-6">-->
                <!--<select id="gender-form-fields" name="gender-form-fields" class="form-control" >-->
                    <!--<option value="Male">Male</option>-->
                    <!--<option value="Female">Female</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<label>Roles</label>-->
        <!--<div class="row">-->
            <!--<div class="form-group col-xs-6">-->
                <!--<input type="checkbox" id="admin-checkbox-form-fields" placeholder="Date of Birth" checked>-->
                <!--Admin<br/>-->
                <!--<input type="checkbox" id="student-checkbox-form-fields" placeholder="Date of Birth">-->
                <!--Student<br/>-->
                <!--<input type="checkbox" id="user-checkbox-form-fields" placeholder="Date of Birth" checked>-->
                <!--User<br/>-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<label>License Agreement</label>-->
        <!--<div class="row">-->
            <!--<div class="form-group col-xs-6 radio">-->
                <!--<label>-->
                    <!--<input type="radio" id="yesRadio-form-fields" checked>-->
                    <!--Yes-->
                <!--</label>-->
                <!--<br>-->
                <!--<label>-->
                    <!--<input type="radio" id="noRadio-form-fields">-->
                    <!--No</br>-->
                <!--</label>-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                <!--<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
        <!--<label>Add New Field:</label>-->
        <!--<div class="row">-->
            <!--<div class="form-group col-xs-6 ">-->
                <!--<select name="addNewField" id="addNewField" class="form-control" ng-model="model.fieldType">-->
                    <!--<option value="singleLineText">Single Line Text</option>-->
                    <!--<option value="date">Date</option>-->
                    <!--<option value="dropdown">Dropdown</option>-->
                    <!--<option value="checkboxes">Checkboxes</option>-->
                    <!--<option value="radioButton">Radio Buttons</option>-->
                    <!--<option value="paraTextFields">Paragraph Text Fields</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<span ng-click="addField(model.fieldType)" class="glyphicon glyphicon-plus col-md-offset-1" aria-hidden="true"></span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->