<!DOCTYPE html>



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <!--<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li> -->
                <li><a href="../home/home.view.html">Home</a></li>
                <li><a href="profile.view.html">Profile</a></li>
                <li><a href="#">Admin</a></li>
                <li><a href="#">Forms</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Register</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">Username :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" placeholder="UserName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-xs-6 col-sm-3 control-label">Password :</label>
                    <div class=" col-sm-9">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="verifyPassword" class="col-xs-6 col-sm-3 control-label">Verify Password :</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="verifyPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-xs-6 col-sm-3 control-label">Email :</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-color">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>