#container {
    position: relative;
}

.building {
    text-align : center;
}

.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 527px;
    left : 190px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 610px;
    left : 190px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button3 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 693px;
    left : 190px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button4 {
    background-color: blue; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 407px;
    left : 380px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button5 {
    background-color: blue; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 490px;
    left : 380px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

.button6 {
    background-color: blue; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 573px;
    left : 380px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button6 {
    background-color: blue; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 573px;
    left : 380px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button7 {
    background-color: blue; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 656px;
    left : 380px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button8 {
    background-color: brown; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 375px;
    left : 550px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button9 {
    background-color: brown; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 455px;
    left : 550px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button10 {
    background-color: brown; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 532px;
    left : 550px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button11 {
    background-color: brown; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 612px;
    left : 550px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button12 {
    background-color: brown; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 690px;
    left : 550px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button13 {
    background-color: black; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 467px;
    left : 800px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button14 {
    background-color: black; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 540px;
    left : 800px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

.button15 {
    background-color: black; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 613px;
    left : 800px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}
.button16 {
    background-color: black; /* Green */
    border: none;
    color: white;
    position: absolute;
    padding: 30px 50px;
    top: 686px;
    left : 800px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

.background {

    width : 100%;
    height :100%;
}

h3 {
    text-align: center;
}

.billboard {
    text-align : center;
}