<div class="container-fluid" ng-controller="SearchDetailController">
    <!-- Video Section -->
    <video id="bcgVid" autoplay loop class="fillWidth">
        <source src="../../../../project/resources/Strum-Away/MP4/Strum-Away.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="../../../../project/resources/Strum-Away/WEBM/Strum-Away.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 id="projectHeading">
                    WELCOME
                </h2>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h4 id="projectSubHeading">
                  Search, store and listen to your favorite songs.
                </h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <img src="../../../../project/resources/searchMusic.jpg" class="img-circle img-responsive" alt="Cinque Terre" width="500" height="500">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <h2 id="searchH2Image">Search For Your Favorite Artist !!</h2>
            </div>
        </div>
    </div>

    <hr>
     <div class="container">
         <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                 <h2 id="storeAndListenImage">Search by Album or Track !</h2>
             </div>
             <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                 <img src="../../../../project/resources/listenAndStore.jpeg" class="img-circle img-responsive" alt="Cinque Terre" width="500" height="500">
             </div>
         </div>
     </div>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 style="color : white; text-align:center">Listen and Store By Creating Playlist!!</h2>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                 <img src="../../../../project/resources/playlist-image-2.jpg" class="img-circle img-responsive" alt="Cinque Terre" width="500" height="500">
            </div>
        </div>
    </div>
</div>