<div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarController">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active': $location.path() == '/'}"><a href="#/">Home <span class="sr-only">(current)</span></a></li>
        <li ng-class="{'active': $location.path() == '/profile'}" ng-show="currentUser" ><a href="#/profile" >Profile</a></li>
        <li ng-class="{'active': $location.path() =='/admin'}" ng-show="currentUser.roles.indexOf('admin') >= 0"><a href="#/admin" >Admin</a></li>
        <li ng-class="{'active': $location.path() == '/forms'}" ng-show="currentUser" ><a href="#/forms" >Forms</a></li>
    </ul>
</div>