<div class="container-fluid">
    <video id="bcgVid" autoplay loop class="fillWidth">
        <source src="../../../../project/resources/Cheer-Up/MP4/Cheer-Up.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="../../../../project/resources/Cheer-Up/WEBM/Cheer-Up.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <h2 style="color : white;">Search Results for</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-6 col-xs-6">

        </div>
    </div>

</div>