<div class="container-fluid" ng-controller="SearchController">
    <video id="bcgVid" autoplay loop class="fillWidth">
        <!--<source src="../../../../project/resources/Cheer-Up/MP4/Cheer-Up.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.-->
        <!--<source src="../../../../project/resources/Cheer-Up/WEBM/Cheer-Up.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.-->
        <source src="../../../../project/resources/Sky-High/MP4/Sky-High.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="../../../../project/resources/Sky-High/WEBM/Sky-High.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <h2 style="color : white;">Search Results for</h2>

    <div class="container-fluid">
        <div class="card">
            <div class="row" ng-repeat="result in model.searchResult">
                <a href = "#/searchDetail/{{result.id}}" type="submit">
                    <hr>
                    <div class="col-md-6 col-xl-6 col-lg-6 col-xs-6">
                      <!-- Image-->
                        <img class="img img-responsive song-img" ng-src="{{result.image}}">
                        <!--<h4> {{result.id}}</h4>-->
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6 col-xs-6 center-block" style="float : left">
                        <h2>{{result.artistname}}</h2>
                        <h2>{{result.songname}}</h2>
                    </div>
                </a>
            </div>
        </div>
        <hr>
    </div>

</div>