<div class="container-fluid" ng-controller="SearchDetailController">
    <video id="bcgVid" autoplay loop class="fillWidth">
        <source src="../../../../project/resources/Cheer-Up/MP4/Cheer-Up.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="../../../../project/resources/Cheer-Up/WEBM/Cheer-Up.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <h2 style="color : white;">Search Results for</h2>
</div>