<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller = "HeaderController as model">
        <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Songs For You </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search" ng-controller="SearchController">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search By Artist, Track Or Album" ng-model="model.query">

                    <a href="#/search/{{model.query}}" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                    </div>
                </form>
                <li ng-class="{'active': $location.path() == '/register'}" ng-hide="currentUser">
                    <a href="#/register">Register</a>
                </li>
                <li ng-class="{'active': $location.path() == '/login'}" ng-hide="currentUser">
                    <a href="#/login">Login</a>
                </li>
                <li ng-class="{'active': $location.path() == '/profile'}" ng-show="currentUser">
                    <a href="#/profile">{{currentUser.username}}</a>
                </li>
                <li ng-show="currentUser" ng-click="model.logout()">
                    <a href='#/'>Logout</a>
                </li>
                <li ng-show = "currentUser" ng-class="{'active': model.$location.url() == '/find'}">
                    <a href="#/find">Find Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
